@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.GameButton {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  margin: 0.5em;
  width: 6em;
  height: 6em;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.GameButton svg {
  font-size: 2em;
 }

.GameButton .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.GameButton .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.GameButton.on:disabled .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.GameButton.on:disabled span,
.GameButton.on:disabled .tooltip {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.GameButton.on:disabled {
  background-color: rgba(234, 107, 33, 0.75);
  color: rgba(255, 255, 255, 0.56);
}
.GameButton.on .tooltip,
.GameButton.on .tooltip::before {
  background-color: rgb(234, 107, 33);
  color: rgba(255, 255, 255, 0.62);
}

.GameButton:disabled {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: default;
}
